<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<h1>Create New Book</h1>
	<form method="POST" th:action="@{/book/new}" th:object="${bookCreateDTO}">
		<table>
			<tr>
				<td>Title :</td>
				<td>
					<input name="title" type="text" th:field="*{bookTitle}">
					<div th:if="${#fields.hasErrors('bookTitle')}" th:errors="*{bookTitle}" style="color: red;"></div>
				</td>
			</tr>
			<tr>
				<td>Author Name :</td>
				<td>
					<input name="author" type="text" th:field="*{authorName}">
					<div th:if="${#fields.hasErrors('authorName')}" th:errors="*{authorName}" style="color: red;"></div>

				</td>
			</tr>
			<tr>
				<td>Description :</td>
				<td>
					<textarea name="description" rows="5" cols="20"  th:field="*{description}"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Submit">

				</td>
			</tr>
		</table>
	</form>

</body>

</html>